@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(255, 102, 0);
  color: white;
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  padding: 8rem;
}

h1 {
  margin: 2rem;
}

.board {
  border: 1rem solid #13140a;
  background: #18110e;
  width: 500px;
  height: 500px;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  gap: 1rem;
}

.squares {
  background: #f1f1ee;
  border: none;
  font-size: 5rem;
  /* font-weight: 800; */
  cursor: pointer;
  outline: none;
}

.X {
  color: red;
}
.O {
  color: blue;
}

.info-wrapper {
  display: flex;
  justify-content: space-between;
}

h3 {
  color: white;
  font-size: 1.5ch;
  padding: 2rem;
}

li {
  list-style: cross-fade();
}

.info-wrapper button {
  border: none;
  outline:none;
  cursor: pointer;
  padding: 0.5rem;
  margin: 0.5rem 1rem;
}
